*/output.bmp
*.out
*.a
*.o
*.plist
*.dSYM
Cube3D
Cub3D
*.DS_Store
*.json
*/*.gen
Linux/includes/MiniLib/test/mlx-test
Linux/includes/MiniLib/Makefile.gen
Linux/includes/MiniLib/test/Makefile.gen
cub3D
Linux/cub3D
